<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/icon.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Ashish Ranjan. It provides weather forcast based on the Location searched.</p>
            <img class="portrait" src="{{imgSrc}}">
        </div>
        {{>footer}}
    </body>
</html>